/** RESET **/

*, *::before, *::after {
    box-sizing: border-box;
    }
    * {
    margin: 0;
    }
    html {
    height: 100%;
    }
    body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    }
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    input, button, textarea, select {
    font: inherit;
    }
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    #root, #__next {
    isolation: isolate;
    }

    :root {
        /* PRIMARY */

        --cyan: hsl(179, 62%, 43%);
        --bright-yellow: hsl(71, 73%, 54%);

        /* NEUTRAL */ 
        --light-gray: hsl(204, 43%, 93%);
        --grayish-blue: hsl(218, 22%, 67%);
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Karla', sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E6EFF5;            
    }

    .container {
        max-width: 19.4375rem;
        margin: 4.5rem 2rem 3.88rem;
        display: grid;
        grid-template-rows: 16.68rem 1fr 1fr;
        box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
    }

    .section-one {
        padding: 1.75rem 1.5rem 2rem;
        background: #FFF;
        border-radius: 0.32rem 0.32rem 0 0;
    }

    .section-two {
        padding: 1.5rem;
        background: #2AB3B1;
    }

    .section-three {
        padding: 1.5rem;
        padding-right: 3rem;
        background: #4ABEBD;
        border-radius: 0 0 0.32rem 0.32rem;
    }

    @media(min-width: 45rem) {
        .container {
            max-width: 39.69rem;
            margin: 0;
            display: grid;
            grid-template-areas:
                'top top'
                'bottomone bottomtwo';
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .section-one {
            grid-area: top;
            padding: 2.5rem;
        }

        .section-two {
            grid-area: bottomone;
            padding: 2.5rem;
            border-radius: 0 0 0 0.32rem;
        }

        .section-three {
            grid-area: bottomtwo;
            padding: 2.5rem;
            border-radius: 0 0 0.32rem 0;
        }
    }